<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.ankurdave.sync-mail</string>
    <key>RunAtLoad</key>
    <true/>
    <key>Program</key>
    <string>/Users/ankurdave/repos/dotfiles/bin/sync-mail</string>
    <key>StandardOutPath</key>
    <string>/Users/ankurdave/mail-log.txt</string>
    <key>StandardErrorPath</key>
    <string>/Users/ankurdave/mail-log.txt</string>
  </dict>
</plist>
