<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.ankurdave.rsnapshot</string>
    <key>LowPriorityIO</key>
    <true/>
    <key>Nice</key>
    <integer>1</integer>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/ankurdave/repos/dotfiles/bin/rsnapshot-all</string>
    </array>
    <key>StartInterval</key>
    <integer>120</integer>
  </dict>
</plist>
