*.aux
*.bbl
*.blg
*.class
*.log
*.out
*.pyc
*.toc
*~
.DS_Store
.\#*
.emacs.d/.emacs.desktop
.emacs.d/.swp
.emacs.d/abbrev_defs
.emacs.d/ac-comphist.dat
.emacs.d/elpa
.emacs.d/eshell/history
.emacs.d/eshell/lastdir
.emacs.d/history
.emacs.d/newsticker
.emacs.d/quelpa
.emacs.d/site-local.el
.emacs.d/tramp
.emacs.d/url
.ensime
\#*\#
.emacs.d/ido.last
.emacs.d/projectile-bookmarks.eld
.emacs.d/recentf
.floo
*.elc
.emacs.d/.litable-lists.el
.emacs.d/bookmarks
.emacs.d/games/
.emacs.d/.last-package-update-day
.emacs.d/smex-items
.emacs.d/projectile.cache
.emacs.d/transient
.env
.emacs.d/tree-sitter
