[user]
	name = Ankur Dave
	email = ankurdave@gmail.com
[alias]
	st = status
	glog = log --decorate --graph --date=short --pretty='format:%C(auto)%h %ad (%an)%C(auto)%d %C(reset)%s'
	sync = fetch --all --prune
[color]
	ui = auto
[core]
	pager = less -+$LESS -FRX
	excludesfile = ~/.gitignore
[rerere]
	enabled = 1
[receive]
	denyCurrentBranch = warn
[web]
	browser = open
[push]
	default = current
