*.aux
*.bbl
*.blg
*.class
*.log
*.out
*.pyc
*.toc
*~
.DS_Store
.\#*
.emacs.d/.emacs.desktop
.emacs.d/.swp
.emacs.d/abbrev_defs
.emacs.d/ac-comphist.dat
.emacs.d/elpa
.emacs.d/eshell/history
.emacs.d/eshell/lastdir
.emacs.d/history
.emacs.d/newsticker
.emacs.d/site-local.el
.emacs.d/tramp
.emacs.d/url
.ensime
\#*\#
