*~
\#*\#
.\#*
.ensime
.DS_Store
*.class
*.pyc
*.aux
*.log
*.out
*.bbl
*.blg
*.toc
.emacs.d/ac-comphist.dat
.emacs.d/elpa
.emacs.d/eshell/history
.emacs.d/tramp
.emacs.d/url
.emacs.d/site-local.el
.emacs.d/newsticker
